* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Helvetica Regular';
}

/* font */

@font-face {
  font-family: 'Helvetica Regular';
  src: url(./font/helvetica_regular.otf);
  font-family: 'HandelGothic TL', sans-serif;
}

li {
  list-style-position: inside;
}

.header {
  padding-top: 53px;
  color: #ffffff;
  margin: 0 auto;
  max-width: 1334px;
}

.header__title-items{
  display: flex;
  align-items: center;
}

.header__inner {
  padding-top: 32px;
  display: flex;
}

.container__info{
  max-width: 582px;
  margin: 0 auto;
}

.header__arrow {
  position: absolute;
  top: 61px;
}

.adaptive__arrow{
  width: 42px;
  display: none;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}

.header__title {
  font-weight: 400;
  font-family: Helvetica;
  font-size: 20px;
  padding-left: 84px;
  text-transform: uppercase;
  line-height: 28px;
  color: #ffbf40;
}

/* slider */

.header__slider {
  max-width: 549px;
  padding-right: 57px;
}

.select__pic {
  padding-top: 15px;
}

.slider__right-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.slider__left-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.select__btns {
  display: flex;
  position: absolute;
  left: 278px;
  top: 849px;
  width: 716px;
  justify-content: space-between;
}

.select__img{
  max-width: 716px;
}

.select__img-items {
  /* width: 100%; */
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select__img-item img {
  /* width: 100%; */
  height: 167px;
  width: 167px;
}

.slider__container{
  width: 716px;
}

.main__img{
  padding-left: 84px;
}

.main__img img {
  height: 662px;
  width: 549px;
  object-fit: cover;
  margin: 0 auto;
    display: block;
}

.slide {
  width: 167px;
  height: 167px;
  cursor: pointer;
}

/* header__info */

.header__info {
  text-transform: uppercase;
}

.header__info-title {
  font-weight: 400;
  font-size: 86px;
  padding-bottom: 17px;
  font-family: HandelGothic TL;
  src: url(./font/0768eur.ttf);
}

.header__info-subtitle {
  font-weight: 400;
  font-size: 28px;
  padding-bottom: 37px;
  line-height: 39px;
  color: #ffbf40;
  font-family: Helvetica;
  src: url(./font/helvetica_regular.otf);
}

.header__info-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 39px;
  font-family: Helvetica;
  src: url(./font/helvetica_regular.otf);
}

/* main */

.main__info {
  margin-top: 90px;
  color: #0e0e0e;
}

.main__item {
  padding-bottom: 77px;
}

.main__inner {
  background-color: #ffffff;
  padding-top: 70px;
  padding-left: 60px;
  padding-bottom: 32px;
  border-radius: 48px;
}

.main__item-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 45px;
  font-family: HandelGothic TL;
  src: url(./font/0768eur.ttf);
  padding-bottom: 45px;
}

.main__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

/* main__slider */

.main__slider {
  overflow: hidden;
}

.main__slider-items {
  display: flex;
  justify-content: space-between;
}

.main__slider-btns {
  padding-top: 18px;
  display: flex;
  padding-right: 53px;
  justify-content: space-between;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myImg2:hover {
  opacity: 0.7;
}

#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myImg3:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #fffdfd;
  padding: 10px 0;
  height: 150px;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 100px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* footer */

.footer {
  padding-top: 101px;
  padding-bottom: 77px;
}

.footer__items-social {
  width: 449px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* adaptive */

@media (max-width:1375px){
  .header__arrow{
    width: 70px;
  }
}

@media (max-width:1334px){
  .slider__container {
    width: 659px;
    padding-left: 28px;
  }
}

@media (max-width:1237px){
  .header__info-title{
    font-size: 46px;
  }
  .header__text-items{
    width: 300px;
  }
  .header__slider{
    padding-right: 224px;
  }
}

@media (max-width:1163px){
  .container{
    max-width: 995px;
  }
  
}

@media (max-width:1110px){
    .header__slider{
      padding-right: 157px;
    }
}

@media (max-width:1042px){
    .header__slider{
      padding-right: 114px;
    }
    .main__slider-items{
      flex-direction: column;
    }
    .main__slider-item{
      padding-bottom: 35px;
    }
    .main__slider-btns{
      display: none;
    }
    .main-pic-slide{
      display: block;
      margin: 0 auto;
    }
}

@media (max-width:996px){
  .header__info-title{
    font-size: 23px;
  }
  .header__info-subtitle{
    font-size: 20px;
  }
  .header__info-text{
    font-size: 13px;
  }
}

@media (max-width:994px){
  .header__text-items {
    width: 192px;
  }
}

@media (max-width:991px){
  .container{
    max-width: 819px;
  }
}

@media (max-width:962px){
  .header__slider{
    padding-right: 100px;
  }
}

@media (max-width:875px) {
  .main__inner{
    padding-right: 60px;
  }
}

@media (max-width:840px){
  .header__title{
    padding-left: 110px;
  }
  .header__slider{
    padding-right: 46px;
  }
  .select__img-item img{
    width: 100px;
    height: 100px;
  }
  .slide {
    width: 100px;
    height: 100px;
  }
  .main__img img {
    height: 473px;
    width: 411px;
}
  button img{
    width: 30px;
  }
  .slider__container{
    width: 423px;
    padding-left: 105px;
  }
}

@media (max-width:817px){
  .main-pic-slide{
    width: 100%;
  }
  .container {
      max-width: 611px;
  }
}

@media (max-width:772px){
  .main-pic-slide{
    width: 100%;
  }
}

@media (max-width:742px){
  .header__title{
    padding-left: 95px;
  }
  .header__slider{
    padding-right: 0px;
    width: 407px;
  }
  .header__info-title{
    width: 200px;
  }
  .select__img-item img{
    width: 70px;
    height: 70px;
  }
  .slide {
     width: 70px;
     height: 70px;
  }
  .main__img img {
    height: 300px;
    width: 300px;
}
  button img{
    width: 30px;
  }
  .slider__container{
    width: 348px;
    padding-left: 64px;
  }
}

@media (max-width:700px){
  .footer__items-social{
    width: 239px;
  }
  .footer__item-social img{
    width: 50px;
  }
}

@media (max-width:635px){
  .main__img img {
    height: 200px;
    width: 200px;
  }
  .main__img{
    padding-left: 0;
  }
  .header__title {
    font-size: 13px;
    padding-left: 53px;
  }
  .header__arrow{
    width: 42px;
  }
  .slider__container {
    width: 226px;
    padding-left: 43px;
  }
  .header__slider {
    padding-right: 0px;
    width: 308px;
  }
  button img {
    width: 24px;
  }
  .select__img-item img {
    width: 50px;
    height: 50px;
  }
  .slide {
    width: 50px;
    height: 50px;
  }
}

@media (max-width:613px){
  .container {
    max-width: 478px;
  }
}

@media (max-width:479px) {
  .container{
    max-width: 383px;
  }
}

@media (max-width:470px) {
  .slider__container{
    padding-left: 23px;
  }
}

@media (max-width:450px) {
  .header__title{
    margin: 0 auto;
    max-width: 139px;
  }
  .header__title-items{
    width: 183px;
    margin: 0 auto;
  }
  .adaptive__arrow{
    display: block;
  }
  .header__arrow{
    display: none;
  }
  .header__inner{
    flex-direction: column;
  }
  .header__slider{
    margin: 0 auto;
  }
  .slider__container{
    padding-left: 42px;
  }
  .header__info{
    text-align: center;
    padding-top: 34px;
  }
}

@media (max-width:438px){
  .main__item-title{
    text-align: center;
    font-size: 25px;
  }
}

@media (max-width:383px){
  .container {
      max-width: 270px;
  }
}

@media (max-width:375px){
  .main__text{
    text-align: center;
    font-size: 13px;
  }
}